<% layout("layouts/boilerplate.ejs") %>


<body>
    <br>
    <h3>Edit this Listing</h3>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post">
        <div class="row">
            <div class="col-8 offset-2">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="listing[title]" class="form-control" value="<%= listing.title %>">
                </div>

                <br>

                <div>
                    <label for="description" class="form-label">Desrciption</label>
                    <textarea name="listing[description]" id="description"
                        class="form-control"><%= listing.description %></textarea>
                </div>
                <br>

                <div>
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" id="image" name="listing[image]" value="<%= listing.image %>" class="form-control">
                </div>

                <br>

                <div class="row">

                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" id="price" value="<%= listing.price %>" name="listing[price]" id="price" type="number"
                            class="form-control">
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" value="<%= listing.country %>" name="listing[country]" class="form-control">
                    </div>
                </div>

                <br>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" value="<%= listing.location %>" name="listing[location]" class="form-control">
                </div>

                <br>
            </div>
        </div>
        <button class="btn btn-dark offset-2">Save</button>
    </form>
    <br>
</body>